* {
    margin: 0;
    padding: 0;
    /* font-family: oswald; */
}

main {
    height: calc(100vh - 52px);
}

textarea {
    resize: none;
}

#textoSelecionado {
    height: 125px;
}

#capitulo {
    overflow: scroll;
    background-color: white;
    height: calc(100vh - 43px - 3rem - 220px);;
    border: solid #343a40 1px;
}

.button {
    background-color: #eee;
    width: 35px;
    height: 35px;
}

.button:hover {
    cursor: pointer;
}

#historico {
    height: calc(100vh - 43px - 1.5rem - 55px);
}

@media(max-width: 920px) {
    #ultimaPesquisa {
        display: none;
    }
}