@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald-Regular.ttf');
}

* {
    font-family: oswald;
}

body {
    background-color: #eee5;
}

h1 {
    font-size: 25px;
    color: deepskyblue;
}

h2 {
    font-size: 17px;
}

p {
    margin: 5px;
}