@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(102, 102, 102);
    padding: 10px 10px;
    border-bottom: solid 3px deepskyblue;
}

header label {
    color: white;
    margin-left: 20px;
}

input {
    margin: 0px 5px;
}

#tamanhoFonte {
    max-width: 50px;
}

#pesquisarTexto {
    flex-grow: 1;
}

#ultimaPesquisa {
    flex-grow: 1;
    text-align: right;
}

.bordaRedonda {
    padding: 5px;
    border-radius: 5px;
}

main {
    height: calc(100vh - 50px);
    background-color: #eee;
    padding-bottom: 10px;
    display: grid;

    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        'preview historico'
        'capitulo historico';
}

main textarea {
    height: 100%;
    font-size: 1em;
    resize: none;
    margin: 0 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    margin: 0 2px;
    background-color: #eee;
    padding: 0;
    width: 35px;
    height: 35px;
}

.button:hover {
    cursor: pointer;
}

.componente {
    display: flex;
    flex-direction: column;
}

.componente > label {
    color: rgb(20, 66, 165);
    margin: 0 10px;
}

.preview {
    grid-area: preview;
}

.historico {
    grid-area: historico;
}

.capitulo {
    grid-area: capitulo;
}

.pesquisa {
    grid-area: pesquisa;
}

@media(max-width: 780px) {
    #ultimaPesquisa {
        display: none;
    }
}